<footer class="footer">
  <p class="has-text-centered">
    <strong>ELEMENTIC</strong>. Hecho con
    <i class="ri-heart-3-fill"></i>
    por
    <a href="https://eloy.co" rel="noopener" target="_blank">Eloy</a>.
  </p>
</footer>