---
title: Uups! 404
layout: base
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="not-found">
  <h1>404</h1>
  <p>Uups. p&aacute;gina no encontrada, <a href="{{ '/' | url }}">Ir al inicio</a>.</p>
</div>